body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0); /* 배경색 설정 */
}

.login-container {
  border: 2px solid orange;
  border-radius: 8px;
  background-color: #ffffff; /* 로그인 창 배경색 */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
  width: 330px; /* 로그인 창 너비 */
  height: 300px;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 25px; /* 각 입력 필드 간의 간격 */
}

label {
  display: block;
  margin-bottom: 10px; /* 레이블과 입력 필드 간의 간격 */
}

input {
  width: 92%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  text-align: center;
  width: 100px;
  padding: 10px 20px;
  background-color: orange; /* 버튼 배경색 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}

button:hover {
  background-color: orange; /* 버튼 호버 색상 */
}
